@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome ADDFocus!</h1>
    <h5>ADDFocus is a task manager application geared towards individuals with ADHD to help them keep track of things,<br>work towards building healthier time managment skills,<br>and get stuff DONE.</h5>
    <a class="btn btn-outline-light text-bg-dark m-4" asp-area="" asp-controller="Tasks" asp-action="Index">Get Started</a>
</div>
